/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #1c1c1c;
}

.wrapper {
    max-width: 770px;
    padding: 2rem;
    margin: 2rem;
    background: #333234;
    border-radius: 1rem;
    position: relative;
    transform: scale(1.5);
}

.test-over{
    position: absolute;
    background-color: #333234;
    display:flex;
    z-index: 999;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    transform: translate(-2rem,-2rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.visible{
    display: none;
}

.test-over h1{
    text-align: center;
    color: #fff;
}

.test-info-container{
    margin: 1rem 0;
}

.test-info-container ul{
    display: flex;
    gap: 1rem;
}

.test-info-container ul li{
    height: 25px;
    list-style: none;
    display: flex;
    align-items: center;
    color: #e4e4e4;
    padding: 0 10px;
}

.test-info-container ul li span {
    display: block;
    font-size: 20px;
    margin-left: 10px;
}

.wrapper .content-box {
    padding: 13px 10px 0 20px;
    border-radius: 10px;
    border: 1px solid rgb(37, 36, 36);
}
.wrapper .input-field{
    z-index: -999;
    opacity: 0;
    position: absolute;
}

.content-box .typing-text{
    padding: 5px 10px 5px 5px;
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    /* overflow: hidden; */
}

.typing-text::-webkit-scrollbar {
    width: 0;
}

.typing-text p {
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
    /* word-break: break-all; */
}

.typing-text p span {
    position: relative;
    color: #828181;
}

.typing-text p span.correct {
    color: rgb(255, 255, 255);
}

.typing-text p span.incorrect {
    color: rgb(241, 89, 89);
    /* background-color: #9e8285;
    outline: 1px solid rgb(81, 8, 8); */
    border-radius: 4px;
}

.typing-text p span.active {
    color: #dab914;
}
.typing-text p span.active::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    opacity: 0;
    background: #dab914;
    animation: blink 1s ease-in-out infinite;
}
@keyframes blink {
    50%{
        opacity: 1;
    }
}

.content-box .content {
    display: flex;
    margin-top: 17px;
    padding: 12px 0;
    border-top: 1px solid rgb(37, 36, 36);
    justify-content: space-between;
    align-items: center;
    color: #e4e4e4;
}

 button {
    border: none;
    outline: none;
    width: 105px;
    padding: 8px 0;
    background: #dab914;
    border-radius: 5px;
    color: #333234;
    cursor: pointer;
    font-weight: bolder;
    font-size: 16px;
    transition: transform 0.1s ease;
}

.content button:active {
    transform: scale(0.97);
}

.content .result-details {
    display: flex;
    width: calc(100% - 140px);
    justify-content: space-between;
}

.result-details li {
    height: 25px;
    list-style: none;
    display: flex;
    align-items: center;
}

.result-details li:not(:first-child) {
    padding-left: 22px;
    border-left: 1px solid rgb(37, 36, 36);
}

.result-details li span {
    display: block;
    font-size: 20px;
    margin-left: 10px;
}

.result-details li:not(:first-child) span {
    font-weight: 1000;
}

.result-details li b {
    font-weight: 1000;
}

@media screen and (max-width: 1155px){
    .wrapper {
        transform: scale(1.2);
    }
    .typing-text p {
        font-size: 22px;
    }
}

@media screen and (max-width: 930px) {

    .wrapper {
        transform: scale(1);
        padding: 0;
        margin: 20px;
    }
    .content-box .content {
        flex-direction: column;
    }

    .typing-text p {
        font-size: 25px;
        text-align: left;
    }
    
    .content-box .typing-text{
        max-height: 70px;
    }

    .typing-text {
        margin-bottom: 30px;
    }

    /* .content-box .content{
        background-color: #828181;
    } */

    .content .result-details{
        width: 100%;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 0;
        justify-content: center;
        align-items: center;
        /* transform: scaleX(1.3); */
    }

    .result-details li:not(:first-child){
        padding: 0;
        border: none;
    }

    .result-details li{
        margin: 10px 0px;
    }

    .content button{
        margin: 10px 0;
    }

    .wrapper .content-box {
        padding: 13px 10px 0 10px;
        border: none;
    }

    .test-over{
        transform: translate(0,0);
    }

    .test-info-container ul{
        flex-direction: column;
        align-items: center;
    }
}